<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
    <connectionStrings>
        <add name="ThesisProject.Properties.Settings.ktkCisConnectionString" connectionString="Data Source=localhost;Initial Catalog=ktkCis;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="ThesisProject.Properties.Settings.ktkCisConnectionString1" connectionString="Data Source=term4;Initial Catalog=ktkCis;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>